*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fafafa;

}
.main{
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    text-align: center;
    z-index: 0;
}
.heading .header-1{
    font-family: poppins;
    font-weight: lighter;
    margin-bottom: 0.3rem;
    font-size: 2rem;
}
.heading .header-2{
    font-family: poppins;
    font-weight: bolder;
    margin-bottom: 0.3rem;
    font-size: 2rem;
}
.heading p{
    font-family: poppins;
    font-size: 0.8rem;

}
.cards{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    width: 80%;
    height: 70%;
    margin-top: 1rem;
}
.card-1{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    border-top: 4px solid #70d8d6;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    grid-row: 2/3;
    margin: 1rem;
}
.card-1 img{
    align-self: flex-end;
    margin-top: 1rem;
}
.card-2{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    border-top: 4px solid #d86e6f;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    grid-column: 2/3;
    margin: 1rem;
}
.card-2 img{
    align-self: flex-end;
    margin-top: 1rem;
}
.card-3{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    border-top: 4px solid #f5b059;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    grid-row: 2/3;
    grid-column: 3/4;
    margin: 1rem;
}
.card-3 img{
    align-self: flex-end;
    margin-top: 1rem;
}
.card-4{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
    border-top: 4px solid #7ab2e9;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    /* width: 45%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    grid-row: 3/4;
    grid-column: 2/3;
    margin: 1rem;
}
.card-4 img{
    align-self: flex-end;
    margin-top: 1rem;
}

@media (max-width: 900px){
    .cards{
        display: flex;
        flex-direction: column;
    }
}
